<div class="section">
  <ul class="collapsible" data-collapsible="accordion">
    <li><div class="collapsible-header"><i class="material-icons">live_help</i>시작하기에 앞서</div>
      <div class="collapsible-body">
        <span>
          이 페이지는 <a href="https://snowcrows.com">SnowsCrows</a>를 기준으로 빌드정보를 제공합니다.<br><br>
          전장빌드 또는 나만의 빌드를 사용하시게되면 컨트롤이 아무리 좋아도 요구하는 DPS를 충족하기 힘듭니다. 길드워의 레이드는 DPS를 통해 패턴을 스킵하거나 하는 페이즈가 많고 대부분의 레이드는 분노타이머가 존재하기 때문에 클리어를 위한 최소 DPS를 요구하게 됩니다.<br><Br>
          레이드를 시작하려고 하시는분들이 장비에 대한 문의가 많습니다. 기본적으로 Exotic등급의 장비를 요구합니다. Ascended까지 요구하지는 않습니다. Full Exotic등급과 Full Ascended의 차이는 12.5%정도의 DPS차이가 납니다.
          여기서 무기만 Ascended면 5.94%차이가 좁혀지고 무기와 장신구가 Ascended일 경우 10.4%의 차이가 좁혀집니다.
          Ascended아머의 경우 비싼비용에 비해서 차이가 약 2%이하의 차이만 존재하기 때문에 너무 부담을 가지실 필요가 없습니다.
          Ascended장비를 맞출 때는 항상 무기, 장신구 순으로 준비하시고 이 때 백팩은 제일 나중으로 고려하면 됩니다.<a href="https://goo.gl/gmfjJh">참고</a>를 보시면 보다 정확한 차이를 알 수 있습니다.<br><br>
          길드워 레이드는 크로노 2, 드루이드 1 or 2, BS 1, DPS 5 or 6 로 구성되는 게 일반적입니다.DPS를 하기 위해서는 Power와 Condi 둘 다 준비해야 합니다. DPS보다는 크로노나 드루이드를 셋팅하는 것을 추천합니다.<br><br>
           마지막으로 써드파티프로그램에 대한 안내입니다. 길드워도 DPS meter가 존재합니다. 이건 편의에 따라 사용하셔도 되고 안하셔도 되지만 레이드를 오래하실생각이 있으시면 사용하시는 것을 추천합니다.<Br>
           <a href="https://www.deltaconnected.com/arcdps/">미터기 링크</a> /
           <a href="https://www.youtube.com/watch?v=uQw3c6LOn1o">미터기 사용법</a>
         </span>
      </div>
    </li>
  </ul>
</div>
